
.main-block {
  background-color: lightgray;

  &__container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

.js-btn {
  display: block;
}

.then-block {
  display: none;
  width: 100vw;
  height: 100vh;
  &__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid $normal-color-light;
    color:$color-light;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}