//Element Colors
$normal-color: transparent;
$normal-color-dark: #cccccc;
$normal-color-darker: #808080;
$normal-color-light: #fff;

$warning-color: #FF0000;
$warning-color-dark: #cc0000;

$main-bg-color: #D3D3D3;

//Text Colors
$color-main: #bebebe;
$color-dark: #000;
$color-light: #fff;